*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/helveticaneuecyr-bold.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg');
  /* Chrome < 4, Legacy iOS */
}

:root{
  --main-font: 'HelveticaNeueCyr-Bold';
  --dark-theme-color: #FFFFFF;
  --light-theme-color: #1E3C72;
  --subtitle-light-theme-color: #375D9F;
  --subtitle-dark-theme-color: rgba(255, 255, 255, 0.9);
  --text-color:#2A5298;
  --input-color:#747474;
  --footer-button-color:#202020;
}
body {
  font-family: var(--main-font);
  font-style: normal; 
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

  /* --Header-- */
.navigation-list-link{
font-weight: 400;
font-size: 16px;
line-height: 1.313;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
  /* --Header end-- */
    /* --Hero-- */


.hero-title{
  font-weight: 900;
  font-size: 62px;
  line-height: 1.242;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}

.subtitle{
font-weight: 400;
font-size: 18px;
line-height: 1.777;
letter-spacing: 0.05em;
color: var(--subtitle-dark-theme-color);
}

.hero-button{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
}

.button-light-theme {
color: var(--light-theme-color);
}


.button-dark-theme {
color: var(--dark-theme-color);
}
    /* --Hero end-- */
        /* --About-- */


.about-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
}
.about-description{
  font-weight: 550;
  font-size: 18px;
  color: var(--light-theme-color);
}
.about-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: var(--text-color);
}
        /* --About end-- */
        /* --Robots-- */
 .robots-title{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.667;
   text-transform: uppercase;
   color: var(--dark-theme-color);
 }
 .robots-description{
font-weight: 550;
font-size: 20px;
line-height: 1.65;
color: var(--dark-theme-color);
 }
.robots-button{
  font-weight: 550;
  font-size: 24px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}
         /* --Robots end-- */
         /* --Choose-- */
.choose-title{
font-weight: 900;
font-size: 48px;
line-height: 1.333;
color: var(--light-theme-color);
}
          /* --Choose end-- */
          /* --character-player-4-- */

.character-player-4-title,
.character-player-5-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: var(--light-theme-color);
}

.character-player-4-description,
.character-player-5-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: var(--light-theme-color);
}

.character-player-4-text,
.character-player-5-text {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
color: var(--subtitle-light-theme-color);
}

          /* --character-player-4 end-- */

          /* --character-player-5-- */




          /* --character-player-5 end-- */
          /* --character-player-6-- */

.character-player-6-title{
  font-weight: 400;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
}

.character-player-6-description{
font-weight: 400;
font-size: 20px;
line-height: 1.35;
color: var(--light-theme-color);
}

.character-player-6-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--subtitle-light-theme-color);
}


          /* --character-player-6 end-- */

          /* --get-- */
.get-title{
  font-weight: 900;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
}

.get-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--subtitle-light-theme-color);
}

.get-button{
  font-weight: 550;
  font-size: 14px;
  line-height: 1.643;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}


          /* --get end-- */
          /* --footer-- */
.footer-titel{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}

.footer-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--dark-theme-color);
}

.footer-input{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.688;
  color: var(--input-color);
}

.footer-button{
  font-weight: 550;
  font-size: 16px;
  line-height: 1.688;
  color:var(--footer-button-color) ;
}



          /* --footer end-- */
